.joms-poll__container {
	position: relative;

	.joms-poll__loader  {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		opacity: 0.2;
		display: none;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}

	.joms-poll__option:hover {
		cursor: pointer;
	}
}

.joms-poll__list {
	li {
		background-color: #fff;
		margin-bottom: 15px;
		position: relative;

		.joms-padding {
			position: absolute;
			top: 0;

      @if ($scss-direction == rtl) {
        left: 0;
      } @else {
        right: 0;
      }

			.joms-dropdown {
				width: 100px;

        @if ($scss-direction == rtl) {
          left: 102px;
        } @else {
        }

				li {
					margin-bottom: 0;
					min-width: 100px;
				}
			}
		}
	}
}

.joms-poll-option {
	margin-bottom: 10px;

	.poll-input {
		width: 80%;
		max-width: 300px;
		display: inline-block;
	}

	.joms-poll-option__remove {
		margin-left: 3px;
		margin-top: 8px;
		display: inline-block;
	}
}

.joms-list__content_polls {
	display: block;
	padding: 20px;
	vertical-align: top;

	.joms-poll__container {
		margin-bottom: 20px;
	}

	.joms-poll-info {
		li {
			background-color: transparent;
			margin-bottom: 5px;

			span {
				color: #7F8C8D;
				font-size: 14px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}



.joms-poll__input-container {
	margin-bottom: 10px;

	.joms-poll_input {
    @if ($scss-direction == rtl) {
			float: right;
			margin-left: 5px;
    } @else {
			float: left;
			margin-right: 5px;
    }
	}
}

.joms-poll__more {
	.joms-poll__more-inner {
		text-align: center;

		a {
			background-color: #fff;
			border-radius: 3px;
			border: 1px solid #ddd;
			display: inline-block;
			max-width: 250px;
			padding: 5px 20px;
			text-align: center;
		}

		a:hover, a:focus, a:active {

		}
	}
}

.joms-poll__progress {
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	height: 12px;
	padding: 1px;
	margin-bottom: 5px;

	.joms-poll__progress-bar {
		background-color: #0e90d2;
		border-radius: 2px;
		color: #fff;
		float: left;
		font-size: 12px;
		height: 100%;
		text-align: center;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		width: 0%;
	}
}

a.joms-poll-option__add:hover {
	text-decoration: underline;
}

// poll postbox
.joms-postbox__poll-option,
.joms-poll-option {
	margin-bottom: 10px;

	a.joms-postbox-poll__remove-option {
		display: inline-block;
		margin-left: 5px;
		margin-top: 2px;
	}

	input.poll_option,
	input.joms-input {
		border: 1px solid #ccc;
		box-shadow: none;
		display: inline-block;
		height: 30px;
		max-width: 300px;
		margin: 0;
		width: 80%;

    @if ($scss-direction == rtl) {
    	border-radius: 0 3px 3px 0;
      float: right;
    } @else {
    	border-radius: 3px 0 0 3px;
      float: left;
    }
	}

	a.joms-postbox-poll__remove-option,
	a.joms-poll-option__remove {
		background-color: #f0f0f0;
		border: 1px solid #ccc;
		display: inline-block;
		height: 30px;
		margin-left: 0;
		margin-top: 0;
		padding: 5px 10px;
		text-align: center;

    @if ($scss-direction == rtl) {
    	border-radius: 3px 0 0 3px;
    	border-right: 0;
    } @else {
    	border-left: 0;
    	border-radius: 0 3px 3px 0;
    }

		svg {
			width: 10px;
			line-height: 30px;
		}
	}
}

.joms-postbox-poll-options,
.joms-postbox-poll-settings,
.joms-postbox-poll-category {
	margin-bottom: 15px;
}

.joms-postbox-poll {
	.poll-time__dropdown {
		max-width: 300px;

		.poll-time__column {
			padding: 10px 10px 25px 10px;
		}
	}
}

// poll time
.joms-postbox__poll-time {
	.joms-postbox__poll-time--inner {
		> span {
			display: inline-block;
			margin-bottom: 4px;
		}

		input.picker__input {
			border: 1px solid #ccc;
			height: 30px;
		}
	}
}